body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-image: url("black-radial-gradient-bb05ed79.jpg");
    background-size: 1500px;
}
.barramenu{
    
    background-image: linear-gradient(to right, red, rgb(134, 4, 4));
    opacity: 90%;
    height: 40px;
    color: white;
    padding: 5px;
    
    
    
}
.letreiromen{
    font-size: 40px;
    margin-left: 10px;
}
.box{
    background-image: linear-gradient(to right,  #303030, #8e8d8d);
    margin-top: 150px;
    width: 400px;
    border-radius: 25px;
    height: 350px;
}
input{
    background-color: #f5efef;
    margin-top: 30px;
    border-radius: 8px;
    border: solid;
    border: 1px;
    border-color: #928e8e;
    outline: none;
    height: 30px;
    width: 200px;
}
.tit1{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.naminp{
    color: white ;
    font-family: Arial, Helvetica, sans-serif;
}
.btsub{
    background-color:  red;
    color: white;
    font-size: 20px;
    width: 300px;
    height: 40px;
    border: solid;
    border-color: #a51e1e;
    border-radius: 5px;
    border-bottom: 10px;
    outline: none;
}
.trc{
    width: 300px;
    
}
.nfcad{
    color: white;
    
}
button{
    background-color:red;
    border-radius: 5px;
    border-bottom: 10px;
    border-color: #a51e1e;
    outline: none;
    color: white;
    width: 130px;
    height: 30px;
}
.footer {
    position:absolute;
    width:100%;
    height: 170px;
    background-image: linear-gradient(to right, red, rgb(134, 4, 4));
    vertical-align: middle;
}
img{
   height:  150px;
   width: 200px;
}
.fottit{
    color: white;
    font-size: 50px;
    vertical-align: middle;
    
}
